/* Overrides for default Opencart theme for Stinkyfish store */
body {
    background-color: #19191b;
    color: #eee;
}

a,legend {
    color: #ffff0a;
}

h1, h2, h3, h4, h5, h6 {
    color: #00b0f4;
}

#top {
    background-color: #272727;
}

#top .btn-link, #top-links li, #top-links a {
    color: #eee;
    text-shadow: none;
}

#menu {
    background-color: #353535;
    background-image: linear-gradient(to bottom, #424242, #272727);
    border-color: #424242 #424242 #353535;
    font-size: 1.5rem;
}

.dropdown-menu {
    background-color: #353535;
}

.dropdown-menu li > a:hover, #menu .see-all:hover, #menu .see-all:focus {
    background-color: #ffff0a;
}

#menu .dropdown-inner a {
    color: #eee;
    font-size: 1.3rem;
}

#cart .dropdown-menu {
    background-color: #222;
}

.panel {
    background-color: #222;
    color: #ccc;
}

.panel-default .panel-heading {
    background-color: #444;
    color: #ffff0a;
}

.product-thumb {
    padding-top: 10px;
    border: 1px solid #89929e;
    border-radius: 7px;
}

.product-thumb .price {
    color: white;
    font-size: 16px;
}

.product-thumb .button-group {
    border-top: 1px solid #89929e;
}

.product-thumb .button-group button {
    background-color: #272727;
    color: #00b0f4;
}

.product-thumb .button-group button + button {
    border-left: 1px solid #89929e;
}

.thumbnail {
    background-color: white;
}

.breadcrumb {
    background-color: #272727;
    border: 1px solid #89929e;
}

.breadcrumb li {
    text-shadow: none;
}

.breadcrumb > li:after {
    border-color: #89929e;
}

.list-group-item, .list-group a, a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    background-color: #272727;
    border: 1px solid #89929e;
}

.list-group a.active, .list-group a.active:hover, .list-group a:hover {
    color: white;
    text-shadow: none;
    background-color: #424242;
    border: 1px solid #89929e;
}

.alert-success {
    background-color: #272727;
    color: #3ca030;
    border-color: green;
}

.alert-dismissable .close,
.alert-dismissible .close {
    right: 0;
}

.alert-danger {
    background-color: #ee4040;
    color: white;
    font-weight: bold;
}

.modal-content {
    background-color: #272727;
}

.category-list-caption {
    text-align: center;
}

.well {
    background-color: #272727;
}
